@import '../global.scss';
.root{
    padding: 25px 0 100px 0;
    .button{
        display: block;
        @include buttonText();
        max-width: 261px;
        padding: 10px;
        background-color: transparent;
        border: 2px solid $firstColor;
        cursor: pointer;
        color: $firstColor;
        box-shadow: $boxShadowGold;
        text-align: center;
        margin: 0 auto;
        &:active{
            transform: scale(.98);
        }
    }
}