.root {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  .popupText {
    display: none;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid #555 transparent transparent transparent;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    &.show {
        display: block;
        animation: fadeIn 1s;
        @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
      }
  }
}
