@import '../global.scss';
.root{
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    // bottom: 10%;
    text-align: center;
    .masterTitle{
        @include masterTitle()
    }
    .title{
        @include title()
    }
    .subtitle{
        display: block;
        padding-top: 100px;
    }
}