.root{
    .activeClassName{
        color: green;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flex{
            display: flex;
            
        }
    }
    .link{
        margin: 0 10px;
    }
    .left,.right{
        max-width: 300px;
        width: 100%;
    }
}