@import '../../global.scss';
.root {
  .firstSection{
    .bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      .bottomPicturesContainer {
        border-top: 1px solid $firstColor;
        :global .container{
          display: flex;
          justify-content: center;
        }
        .bottomPictures {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          div {
            .imgContainer {
              height: 60px;
              margin: 30px auto;
              border-left: 2px solid $firstColor;
              img {
                display: block;
                margin: 0 auto;
              }
            }
            &:first-child > .imgContainer:first-child {
              border-left: none;
              margin-left: 0;
            }
            .imgContainer:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
 
  .secondSection{
    .title{
      color: $secondColor;
    }
  }
  .thirdSection{
    background: url('../../../assets/pictures/secondaryBg.png');
    min-height: auto;
  }
  .fourthSection{
    .title{
      color: $secondColor;
    }
  }
}
.root::before {
  content: '';
  background: url('../../../assets/pictures/bgc.png') center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1111111;
}

.arrowRight{
  // height: 17px;
  // width: 17px;
}

.exclusive{
  padding-bottom: 120px;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .exclusiveLeft{
    div{
      display: flex;
      align-items: center;
      span{
        margin-left: 20px;
      }
    }
  }
  .exclusiveRight{
    max-width: 448px;
    width: 100%;
    padding: 14px;
    border: 1px solid $thirdColor;
    form{
      width: 100%;
      padding: 20px;
      display: flex;
      border: 1px solid $firstColor;
      background-color: $firstColor;
      justify-content: center;
      input{
        border: 1px solid $thirdColor;
        padding: 10px;
        color: $secondColor;
      }
      button{
        background-color: $secondColor;
        margin-left: 30px;
        color: white;
        padding: 10px 35px;
        cursor: pointer;
        user-select: none;
      }
    }
    .inputContainer{
      position: relative;
    }
  }
}