@import '../global.scss';
.root{
    .icon{
        fill: white;
    }
    .input{
        border: 1px solid transparent;
        transition: border-color 1s ease;
        color: $firstColor;
        max-width: 150px;
        width: 100%;
    }
    .focused{
        border-bottom: 1px solid $firstColor;
    }
    
}