@import '../global.scss';
.root {
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .icon {
    display: block;
    overflow: visible;
  }
  .input {
    margin-top: 1px;
    border-bottom: 1px solid transparent;
    transition: border-color 1s ease;
    font-size: 18px;
  }
  .inputFocus {
    border-color: $gold;
  }
  .iconFocus {
    fill: $gold;
  }
}
