@import './variables.scss';
@mixin ff($name,$folderName, $file, $weight: normal, $style: normal){
    @font-face {
      font-family: "#{$name}";
      src: url('../fonts/#{$folderName}/#{$file}.woff') format('woff'),
           url('../fonts/#{$folderName}/#{$file}.woff2') format('woff2');
      font-weight: $weight;
      font-style: $style;
    }
  }

  @mixin masterTitle(){
    font-family: $gilroyExtraBold;
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 15px 0;
  }

  @mixin title(){
    @include masterTitle();
    font-family: $gilroyLight;
    font-size: 3rem;
    line-height: 41px;
  }

  @mixin buttonText(){
    font-family: $gilroyLight;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  @mixin link(){
    font-family: $gilroyLight;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 150%;
    color: $firstColor;
  }
