//colors
$firstColor:#FFFFFF;
$secondColor:#333333;
$grey:#D6D6D6;
$bgc:#F9F9F9;
$hardGrey:#979797;
$gold:rgb(241, 241, 174);
//name
$gilroyExtraBold:'gilroyextrabold';
$gilroyLight:'gilroylight';
//folderName
$Gilroy:'Gilroy';
//fileName
$gilroy-light-webfont:'gilroy-light-webfont';
$gilroy-extrabold-webfont:'gilroy-extrabold-webfont';

